In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 10**5)

# Data

In [3]:
def size_mb(docs):
    return sum(len(s.encode('utf-8')) for s in docs) / 1e6

## load

In [4]:
data_train_1 = pd.read_excel('./data/dataset_ads-20210113-1-labeled.xlsx')
data_train_1 = data_train_1[['label', 'content']]
data_train_1 = data_train_1.dropna()

print(data_train_1.shape)
data_train_1.head(3)

(20000, 2)

   label                             content
0    1.0                      岀赀縁 masonghe86
1   11.0                   九，勾引团里有夫之妇，满脸zhi疮
2    1.0  53=10w元宝+VIP13+武将+各资源1亿+Q348857676

In [5]:
data_train_2 = pd.read_excel('./data/dataset_ads-20210311-1-labeled.xlsx')
data_train_2 = data_train_2.rename(columns={'text':'content', 'sentiment':'label'}) 
data_train_2 = data_train_2[['label', 'content']]
data_train_2 = data_train_2.dropna()

print(data_train_2.shape)
data_train_2.head(3)

(14686, 2)

  label                                            content
0   非广告  \n\n为了军团发展和集结攻城，加下军团长微信：867261180来军团群讨论交流，有阵容攻...
1   非广告  \n为了军团更好地发展，资源更好地利用，兄弟加微信：①⑦⑥⑨①①③④⑨⑥⑧，领礼包，群里有攻...
2   非广告  \n为了军团更好地发展，资源更好地利用，兄弟加微信：①⑦⑥⑨①①③④⑨⑥⑧，领礼包，群里有攻...

In [6]:
# data_test = pd.read_excel('./data/dataset_ads-20210120-1-labeled.xlsx')
data_test = pd.read_excel('./data/dataset_ads-20210120-2-labeled.xlsx')
data_test = data_test[['label', 'content']]
data_test.head(3)

   label                                            content
0      2  为了军团更好地发展，资源更好地利用，大家一起作战，兄弟加微信：svip12126，组织打城，...
1      2             无兄弟，不三国195新区即将来至大佬带队，要去的可私聊我霸服了团长送老婆十对
2      1                    全/脫/小/妹/针.人视频1对1/Q Q：2332287921

## label convert

In [7]:
data_train_1.loc[data_train_1.label.isin([1, 9, 24]), 'label'] = -1   # ads
data_train_1.loc[~(data_train_1.label==-1), 'label'] = 1

data_train_1.label.value_counts(normalize=True)

 1.0    0.805
-1.0    0.195
Name: label, dtype: float64

In [8]:
data_train_2.loc[data_train_2.label.str.startswith('非广告'), 'label'] = 1
data_train_2.loc[~(data_train_2.label==1), 'label'] = -1    # ads

In [ ]:
data_train = pd.concat([data_train_1, data_train_2], axis=0)
data_train.label = data_train.label.astype(int)
data_train.content = data_train.content.astype(str)
data_train.shape

data_train = data_train_1

In [ ]:
data_test.loc[data_test.label.isin([1, 9, 24]), 'label'] = -1
data_test.loc[~(data_test.label==-1), 'label'] = 1
data_test.label.value_counts(normalize=True)

In [ ]:
X_train, X_test = data_train.content, data_test.content
y_train, y_test = data_train.label.tolist(), data_test.label.tolist()

In [ ]:
data_train_size_mb = size_mb(X_train)
data_test_size_mb = size_mb(X_test)

print("%d documents - %0.3fMB (training set)" % (len(X_train), data_train_size_mb))
print("%d documents - %0.3fMB (test set)" % (len(X_test), data_test_size_mb))
print()

## save

In [ ]:
%store data_train

In [ ]:
%store X_train
%store X_test
%store y_train
%store y_test

In [ ]:
%store data_train_size_mb